@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
:root {
  --primary-color: #05ab75;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --light: #f0eff3;
  --primary-bg: #010409;
  --secondary-bg: #161b22;
  --tertiary-bg: #0d1117;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 30px;
  background: var(--primary-bg);
  color: var(--light);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.btn-tool {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  padding: 0.25em 0.3em;
  font-size: 1.5rem;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-save {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  -webkit-appearance: none;
  border: 1px solid var(--primary-color);
  background: var(--secondary-bg);
  outline: none;
  cursor: pointer;
  margin-top: 0.4rem;
  padding: 0.3rem;
  color: var(--primary-color);
}
.btn-undo {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}
.btn-trash {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--danger-color);
  height: 30px;
  width: 45px;
  color: var(--danger-color);
  background: var(--secondary-bg);
}
.div-space {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
  background: var(--secondary-bg);
  height: 4.5rem;
}
.navbar-menu {
  display: flex;
  position: absolute;
  left: 0;
  padding: 0.5rem;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
  gap: 1.5rem;
  background: var(--secondary-bg);
  z-index: 9;
}
.navbar-menu-item {
  color: var(--primary-color);
  display: flex;
  min-width: 40%;
  max-width: 60%;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}
.nav-link {
  color: var(--primary-color);
  font-size: 2rem;
}
.landing {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
  padding: 1rem;
  color: var(--primary-color);
  z-index: -1;
}
.landing-links {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.9rem;
  gap: 1.7rem;
}
.landing-link {
  color: var(--primary-color);
  background: var(--secondary-bg);
  width: 100%;
  min-height: 100px;
  display: flex;
  font-size: 1.7rem;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 -2px 10px rgba(38, 128, 78, 0.5);
}

.container {
  max-width: 1100px;
  margin: auto;

  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.board {
  width: 360px;
  height: 478px;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.canvas {
  position: absolute;
  z-index: 1;
}

.options {
  width: 350px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 0.3rem;
}
.form {
  display: flex;
  width: 350px;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  margin-top: 1.5rem;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: 1px solid rgb(68, 68, 68);
  background: var(--tertiary-bg);
  color: #c4c4c4;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    border 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
input[type='text']:focus {
  background: var(--secondary-bg);
  transform: scale(1.02);
  border: 1px solid var(--primary-color);
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}
.board-selector {
  width: 350px;
  margin: auto;
  margin-bottom: 0.3rem;
}
.star-rating {
  color: #d1a105;
  margin: auto;
  font-size: 0.9rem;
}
.submit-button {
  margin-top: 1rem;
  color: #05ab75 !important;
  border: 1px solid #05ab75 !important;
}
.radio > div > div > div:nth-child(2) {
  display: none;
}
.radio {
  text-align: center;
  margin-bottom: 0.3rem;
}
.toolbar {
  width: 350px;
  display: flex;
  gap: 0.3rem;
}

.view-header {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 0.7rem;
  width: 360px;
  margin: 0.5rem 0;
}
.view-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 270.233px;
}
.grade {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
  color: #daa702;
  padding: 0;
}
.problem-view {
  max-width: 360px;
  margin: auto;
}
.problem-table {
  width: 100%;
  padding: 0.5rem;
  border-collapse: collapse;
  background: var(--tertiary-bg);
}
.browser {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.3rem;
}
.browser-item {
  width: 500px;
  margin: auto;
  background: var(--tertiary-bg);
  border: 1px solid var(--secondary-bg);
  border-radius: 3px;
}
.browser-item-main {
  display: grid;
  width: 500px;
  padding: 0.4rem;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 0.5rem;
}
.browser-item-title-div {
  display: flex;
  justify-content: center;
}

.browser-item-title {
  width: 220px;
  color: var(--primary-color);
  font-size: 1.3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  align-self: center;
  text-align: center;
}

.browser-item-grade {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.browser-item-info {
  padding: 0.6rem;
}
.browser-item:hover {
  background: var(--secondary-bg);
}
.ascents {
  padding: 0.4rem;
  width: 360px;
}
.ascent-item {
  display: grid;
  width: 100%;
  margin: auto;
  padding: 0.4rem;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 0.5rem;
  background: var(--tertiary-bg);
  border: 1px solid var(--secondary-bg);
  border-radius: 3px;
}
.ascent-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ascent-item-title {
  max-width: 160px;
  color: inherit;
  font-size: 1.3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
}

.ascent-item-grade {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ascent-item-info {
  gap: 0.3rem;
}
.ascent-item:hover {
  background: var(--secondary-bg);
}
th,
td {
  padding: 0.3rem 0.4rem;
  text-align: left;
}

/* Slider styles */
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 1.3rem 0;
  width: 100%;
  justify-self: center;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--primary-color);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 20px;
  border-radius: 3px;
  background: #c4c4c4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--primary-color);
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #05ab75;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #c4c4c4;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #05ab75;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #05ab75;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #05ab75;
}
input[type='range']:focus::-ms-fill-upper {
  background: #05ab75;
}
@media (max-width: 600px) {
  .container {
    width: 100vw;
    margin: 0.3rem 0;
    padding: 0;
  }
  .editor {
    flex-direction: column;
  }
  .landing-links {
    width: 80%;
  }
  .browser-item {
    width: 100%;
  }
  .browser-item-main {
    width: 100%;
  }
  .browser-item-title {
    max-width: 260px;
  }
}
